{{> head}}
{{> navbar}}  
  
<div class="row">
    <div class="col-8">
        <h1>Giraffe</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, illo! Fugiat eius fugit inventore quibusdam aspernatur corporis eveniet ad maxime ratione, perferendis quo aperiam cupiditate odit, obcaecati saepe itaque molestias.</p>
    </div>
    <div class="col-4">
<img src="assets/img/giraffe.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}